# Analysis and tokenisation
by - pg9349

This code is for tokenisation and part of preprocessing step

In [3]:
import pandas as pd

In [4]:
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize

In [5]:
df=pd.read_json("un_general_assembly.json",lines=True)

In [6]:
df.head()

,doc,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Language,Notes
0,33: May I first convey to our President the co...,1970.0,25.0,ALB,Albania,Mr. NAS,None,French,None
1,177.\t : It is a fortunate coincidence that pr...,1970.0,25.0,ARG,Argentina,Mr. DE PABLO PARDO,None,Spanish,Relates to 201: Official Records of the Disarm...
2,100.\t It is a pleasure for me to extend to y...,1970.0,25.0,AUS,Australia,Mr. McMAHON,None,None,Relates to 124: Official Records of the Disarm...
3,155.\t May I begin by expressing to Ambassado...,1970.0,25.0,AUT,Austria,Mr. KIRCHSCHLAEGER,None,None,Relates to 166: Signed in Moscow on 12 August ...
4,"176. No doubt each of us, before coming up to ...",1970.0,25.0,BEL,Belgium,Mr. HARMEL,None,French,Relates to 214: Convention of association with...

In [7]:
def wordsplitter(x):
    return word_tokenize(x)
def sentsplitter(x):
    return sent_tokenize(x)

In [8]:
df['sent_split']=df['doc'].apply(sentsplitter)

In [10]:
df['word_split']=df['doc'].apply(wordsplitter)

In [11]:
df.head()

,doc,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Language,Notes,sent_split,word_split
0,33: May I first convey to our President the co...,1970.0,25.0,ALB,Albania,Mr. NAS,None,French,None,[33: May I first convey to our President the c...,"[33, :, May, I, first, convey, to, our, Presid..."
1,177.\t : It is a fortunate coincidence that pr...,1970.0,25.0,ARG,Argentina,Mr. DE PABLO PARDO,None,Spanish,Relates to 201: Official Records of the Disarm...,[177.\t : It is a fortunate coincidence that p...,"[177., :, It, is, a, fortunate, coincidence, t..."
2,100.\t It is a pleasure for me to extend to y...,1970.0,25.0,AUS,Australia,Mr. McMAHON,None,None,Relates to 124: Official Records of the Disarm...,"[100., It is a pleasure for me to extend to yo...","[100, ., It, is, a, pleasure, for, me, to, ext..."
3,155.\t May I begin by expressing to Ambassado...,1970.0,25.0,AUT,Austria,Mr. KIRCHSCHLAEGER,None,None,Relates to 166: Signed in Moscow on 12 August ...,"[155., May I begin by expressing to Ambassador...","[155, ., May, I, begin, by, expressing, to, Am..."
4,"176. No doubt each of us, before coming up to ...",1970.0,25.0,BEL,Belgium,Mr. HARMEL,None,French,Relates to 214: Convention of association with...,"[176., No doubt each of us, before coming up t...","[176, ., No, doubt, each, of, us, ,, before, c..."

In [12]:
def counter(x):
    return len(x)

In [13]:
df['count_speech_words']=df['word_split'].apply(counter)
df['count_speech_sent']=df['sent_split'].apply(counter)

In [16]:
df.to_json("un_speeches_tokenised.json",orient='records',compression='infer')

In [18]:
df.columns

Index(['doc', 'Year', 'Session', 'ISO Code', 'Country',
       'Name of Person Speaking', 'Post', 'Language', 'Notes', 'sent_split',
       'word_split', 'count_speech_words', 'count_speech_sent'],
      dtype='object')

In [19]:
df[['Year','Country','count_speech_words', 'count_speech_sent']].groupby('Year').mean()

        count_speech_words  count_speech_sent
Year
1970.0         4342.900000         170.085714
1971.0         4401.391304         173.243478
1972.0         4327.928000         170.320000
1973.0         4460.655462         179.731092
1974.0         4410.441860         171.813953
1975.0         4244.119048         170.515873
1976.0         4476.791045         178.186567
1977.0         4331.328571         177.821429
1978.0         4433.907801         180.390071
1979.0         4533.669014         184.887324
1980.0         4419.194631         183.080537
1981.0         4376.853147         181.797203
1982.0         4287.400000         158.682759
1983.0         4312.966443         180.577181
1984.0         4425.013423         187.315436
1985.0         4312.169118         140.227941
1986.0         3882.429530         128.281879
1987.0         3709.552632         120.947368
1988.0         3702.629870         121.058442
1989.0         3759.784314         128.117647
1990.0         3353.993590         115.051282
1991.0         3328.925926         114.802469
1992.0         3255.257485         111.568862
1993.0         3371.228571         115.160000
1994.0         3250.235294         111.464706
1995.0         3133.162791         103.354651
1996.0         2899.071823          99.337017
1997.0         2933.744318         100.488636
1998.0         2843.458564         100.629834
1999.0         2942.386740         102.198895
2000.0         2608.865169          91.151685
2001.0         2195.946524          77.764706
2002.0         2024.962766          74.228723
2003.0         2119.857143          77.820106
2004.0         2121.723958          77.651042
2005.0         1914.335135          70.194595
2006.0         2030.829016          75.746114
2007.0         2039.183246          76.335079
2008.0         2012.432292          74.302083
2009.0         2204.191710          82.968912
2010.0         2082.449735          76.296296
2011.0         2226.616580          83.766839
2012.0         2288.405128          86.169231
2013.0         2294.317708          84.770833
2014.0         2185.088083          81.689119
2015.0         2243.559585          83.305699
2016.0         2178.854167          82.411458
2017.0         2251.567010          85.546392
2018.0         2332.780612          86.464286
2019.0         2401.533333          89.600000